# Merge two Python dictionaries into one

In [1]:
d1={'name':"Akhand","degree":"B.tech","course":'Data Science'}
d2={"batch":"DS060623"}
d1.update(d2)
print(d1)

{'name': 'Akhand', 'degree': 'B.tech', 'course': 'Data Science', 'batch': 'DS060623'}

In [2]:
# Extract all keys from the Dictionary
d1={'name':"Akhand","degree":"B.tech","course":'Data Science'}
for i in d1.keys():
    print(i,end = " ")

name degree course

# Extract all values from the Dictionray

In [4]:
d1={'name':"Akhand","degree":"B.tech","course":'Data Science'}
for i in d1.values():
    print(i,end=" ")

Akhand B.tech Data Science

# Extract both keys and values from the Dictionary

In [7]:
d1={'name':"Akhand","degree":"B.tech","course":'Data Science'}
for key,value in d1.items():
    print(f"for key {key} value is {value}")

for key name value is Akhand
for key degree value is B.tech
for key course value is Data Science

# Create your own dictionary like this: d={1:2,2:3,3:4,4:5,5:6}

In [8]:
d={}
for i in range(1,6):
    d[i]=i+1
print(d)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

# Create your own dictionary like this: d={2:4,3:6,4:8,5:10,6:12}

In [9]:
d = {}
for i in range(2,7):
    d[i]=i*2
print(d)

{2: 4, 3: 6, 4: 8, 5: 10, 6: 12}

# Create your own Dictionary like this: d={2:4,4:8,6:12,8:16,10:20}

In [10]:
d = {}
for i in range(2,11,2):
    d[i]=i*2
print(d)

{2: 4, 4: 8, 6: 12, 8: 16, 10: 20}

# Create your own Dictionary like this: d={1:1,2:8,3:27,4:64,5:125}

In [11]:
d = {}
for i in range(1,6):
    d[i]=i**3
print(d)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

# Create your own dictionary like this: d={5:15,7:21,9:27,11:33,13:39}

In [12]:
d={}
for i in range(5,14,2):
    d[i]=i*3
print(d)

{5: 15, 7: 21, 9: 27, 11: 33, 13: 39}

# Python program to find the size of the dictionary

In [13]:
d1={'name':"Akhand","degree":"B.tech","course":'Data Science'}
print(len(d1))

3

# Python program to find the sum of all items in a dictionary

In [14]:
d={5: 15, 7: 21, 9: 27, 11: 33, 13: 39}
sum_key=0
sum_value=0
for key,value in d.items():
    sum_key +=key
    sum_value +=value
print(f"Sum of keys in dictionary {sum_key}")
print(f"Sum of values in dictionary {sum_value}")

Sum of keys in dictionary 45
Sum of values in dictionary 135

# Write a python program to sort (ascending and descenting) a dictionary by value

In [24]:
d={5: 15, 7: 21, 9: 27, 11: 33, 13: 39,1:1,2:8,3:27,4:64}
lst = []
for value in d.values():
    lst.append(value)
print(sorted(lst,reverse=True))
print(sorted(lst))

[64, 39, 33, 27, 27, 21, 15, 8, 1]
[1, 8, 15, 21, 27, 27, 33, 39, 64]

# Write a python program to add a key to a dictionary

In [25]:
d={}
d["name"]="akhand"
d["gf"]="sappunda"
print(d)

{'name': 'akhand', 'gf': 'sappunda'}

#  Write a python program to delete a key to a dictionary

In [26]:
d={5: 15, 7: 21, 9: 27, 11: 33, 13: 39}
del d[5]
print(d)

{7: 21, 9: 27, 11: 33, 13: 39}

In [27]:
d={5: 15, 7: 21, 9: 27, 11: 33, 13: 39}
for key,value in d.items():
    print(f"key is {key} and its value is {value}")

key is 5 and its value is 15
key is 7 and its value is 21
key is 9 and its value is 27
key is 11 and its value is 33
key is 13 and its value is 39

# Write a python program to get the maximum and minimum value in a dictionary

In [33]:
d={5: 15, 7: 21, 9: 27, 11: 33, 13: 39,1:1,2:8,3:27,4:64}
keys=[]
values=[]
for key,value in d.items():
    keys.append(key)
    values.append(value)
print(f"maximum values in keys {max(keys)} and min values in keys {min(keys)}")
print(f"maximum values {max(values)} and min value {min(values)}")
keys.extend(values)
print(keys)
print(f"max in both keys and values {max(keys)} min in both {min(keys)}")

maximum values in keys 13 and min values in keys 1
maximum values 64 and min value 1
[5, 7, 9, 11, 13, 1, 2, 3, 4, 15, 21, 27, 33, 39, 1, 8, 27, 64]
max in both keys and values 64 min in both 1

# Write a python program to check a dictionary is empty or not

In [34]:
d={}
if len(d)==0:
    print("dictionary is empty")
else:
    print("dictionary is not empty")

dictionary is empty

# Write a Python program to print a dictionary line by line

In [35]:
d={5: 15, 7: 21, 9: 27, 11: 33, 13: 39,1:1,2:8,3:27,4:64}
for key, value in d.items():
    print(f"{key} : {value}")

5 : 15
7 : 21
9 : 27
11 : 33
13 : 39
1 : 1
2 : 8
3 : 27
4 : 64